<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.book.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.example.eleaning.MainActivity"
             android:label="MainActivity" ></activity>
        <activity 
            android:name="com.example.book.enroll"
            android:label="enroll">           
        </activity>
         <activity 
            android:name="com.example.book.classify"
            android:label="classify">           
        </activity>
        <activity 
            android:name="com.example.book.main"
            android:label="main">           
        </activity>   
        <activity 
            android:name="com.example.book.class_orderactivity"
            android:label="class_orderactivity">           
        </activity>   
         <activity 
            android:name="com.example.book.class_hard"
            android:label="class_hard">           
        </activity>   
         <activity 
            android:name="com.example.book.class_knowledge"
            android:label="class_knowledge">           
        </activity> 
          <activity 
            android:name="com.example.book.class_type"
            android:label="class_type">           
        </activity>
          <activity 
            android:name="com.example.book.Input_error"
            android:label="Input_error">           
        </activity>
        <!-- <activity 
            android:name="com.example.book.input_error1"
            android:label="Input_error1">           
        </activity> -->
         <activity 
            android:name="com.example.book.review_content"
            android:label="review_content">           
        </activity>
         <activity 
            android:name="com.example.book.review_set"
            android:label="review_set">           
        </activity>
         <activity 
            android:name="com.example.book.plan"
            android:label="plan">           
        </activity>
         <activity 
            android:name="com.example.book.back"
            android:label="back">           
        </activity>
         
    </application>

</manifest>
